@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ponomar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap');

$font-family: "Monomakh", system-ui;

$project-border: .5px solid grey;
$project-border-radius: 10px;
$project-btn-border: .5px solid grey;
$project-btn-border-radius: 10px;

$font-color: black;

html body {
  height: 100vh;
  background-color: #FFFDEC;
}
.app {
  font-family: $font-family;
  height: 100%;
  margin: 0 15vw 0 15vw;
  color: $font-color;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    .navdiv {
      width: 100%;
      .menu {
        .flash {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          font-size: 2rem;
          cursor: pointer;
          .routes_min {
            background-color: rgb(244, 244, 244);
            border-radius: 5px;
            padding: 10px;
            top: 2em;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            .route_min {
              font-size: 0.5em;
              text-decoration: none;
              color: $font-color;
            }
          }
        }
      }
      .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .brand {
          font-size: 1.5em;
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;
          color: $font-color;
        }
        .routes {
          margin: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2em;
          .route {
            cursor: pointer;
            font-size: 1.2em;
            text-decoration: none;
            color: $font-color;
          }
        }
      }
    }
  }
  aside {
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30%;
    .profilediv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3em;
      .image {
        img {
          background-color: coral;
          object-fit: cover;
          height: 20rem;
          width: 20rem;
          border-radius: 100%;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 1rem;
      .greeting {
        font-size: clamp(20px, 2vw, 2vw);
      }
      .sub_greeting {
        color: grey;
        font-size: 1.2rem;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .exps {
      width: 100%;
      margin-bottom: 20vh;
      .exp_title {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 0.5em;
        column-gap: 0.5em;
        flex-wrap: wrap;
        margin-bottom: 4em;
        .exp_sidenote {
          margin: 0;
          font-size: 1rem;
        }
      }
      .experiencediv {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 2em;
        column-gap: 2em;
        justify-content: center;
        .experience {
          flex-basis: 40%;
          border: $project-border;
          border-radius: $project-border-radius;
          padding: 1em;
          display: flex;
          flex-direction: row;
          justify-content: baseline;
          align-items: center;
          min-width: 300px;
          gap: 2em;
          .exp_img {
            height: 6rem;
            width: 6rem;
            object-fit: contain;
          }
          .exp_info {
            h4 {
              margin: 0;
            }
            .exp_name {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .projects {
      width: 100%;
      .prj_title {
        font-size: 2em;
        text-align: center;
        margin-bottom: 3em;
      }
      .prjdiv {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 2em;
        column-gap: 2em;
        justify-content: center;
        .prj {
          flex-basis: 100%;
          border: $project-border;
          border-radius: $project-border-radius;
          padding: 1em;
          display: flex;
          flex-direction: column;
          justify-content: baseline;
          gap: 1em;
          .prj_img {
            height: 6rem;
            width: 6rem;
          }
          .prj_info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h4 {
              margin: 0;
            }
            .prj_name {
              font-size: 2rem;
              margin-bottom: 0.5em;
            }
            .prj_description {
              font-size: clamp(16px, 1.1vw, 1.1vw);
            }
            .git_link {
              display: flex;
              align-items: center;
              gap: 0.5em;
              text-decoration: none;
              color: $font-color;
              font-weight: bold;
              font-size: 1.2em;
              max-width: max-content;
              border: $project-btn-border;
              border-radius: $project-btn-border-radius;
              padding: 10px;
              .git_img {
                height: 2rem;
                width: 2rem;
              }
            }
            .git_link:hover {
              transform: scale(1.04);
            }
            .download_btn {
              text-decoration: none;
              color: $font-color;
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 0.5em;
              width: max-content;
              background-color: transparent;
              padding: 10px;
              font-family: $font-family;
              font-weight: bold;
              border: $project-btn-border;
              border-radius: $project-btn-border-radius;
              .git_img {
                height: 2rem;
                width: 2rem;
              }
            }
            .download_btn:hover {
              transform: scale(1.04);
            }
          }
        }
      }
    }
    .social_div {
      margin-top: 10em;
      .social_title {
        font-weight: lighter;
        text-align: center;
        margin: 0;
        font-size: 2rem;
        margin-bottom: 5rem;
      }
      .socials {
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .social {
          cursor: pointer;
          .social_img {
            height: 2.2rem;
            width: 2.2rem;
          }
        }
      }
      .social_message {
        margin-top: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        p {
          margin: 0;
        }
        .social_mail {
          color: skyblue;
        }
        .social_gatsby {
          a {
            color: skyblue;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .cpy {
    font-size: clamp(14px, 1vw, 1vw);
  }
  .app {
    margin: 0 5vw 0 5vw;
  }
  .routes_min {
    right: 1em;
  }
}
