@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
html body {
  height: 100vh;
}

.app {
  font-family: "Roboto Mono", monospace;
  height: 100%;
  margin: 0 15vw 0 15vw;
}
.app header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app header .navdiv {
  width: 100%;
}
.app header .navdiv .menu .flash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
}
.app header .navdiv .menu .flash .routes_min {
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding: 10px;
  top: 2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.app header .navdiv .menu .flash .routes_min .route_min {
  font-size: 0.5em;
  text-decoration: none;
  color: black;
}
.app header .navdiv .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app header .navdiv .nav .brand {
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.app header .navdiv .nav .routes {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
.app header .navdiv .nav .routes .route {
  cursor: pointer;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.app aside {
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30%;
}
.app aside .profilediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.app aside .profilediv .image img {
  background-color: coral;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
}
.app aside .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.app aside .info .greeting {
  font-size: clamp(20px, 2vw, 2vw);
}
.app aside .info .sub_greeting {
  color: grey;
  font-size: 1.2rem;
}
.app main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app main .exps {
  width: 100%;
  margin-bottom: 20vh;
}
.app main .exps .exp_title {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 0.5em;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
.app main .exps .exp_title .exp_sidenote {
  margin: 0;
  font-size: 1rem;
}
.app main .exps .experiencediv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  -moz-column-gap: 2em;
       column-gap: 2em;
  justify-content: center;
}
.app main .exps .experiencediv .experience {
  flex-basis: 40%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  min-width: 300px;
  gap: 2em;
}
.app main .exps .experiencediv .experience .exp_img {
  height: 5rem;
  width: 5rem;
}
.app main .exps .experiencediv .experience .exp_info h4 {
  margin: 0;
}
.app main .exps .experiencediv .experience .exp_info .exp_name {
  font-size: 1.5rem;
}
.app main .projects {
  width: 100%;
}
.app main .projects .prj_title {
  text-align: center;
  margin-bottom: 4em;
}
.app main .projects .prjdiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  -moz-column-gap: 2em;
       column-gap: 2em;
  justify-content: center;
}
.app main .projects .prjdiv .prj {
  flex-basis: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 2em;
}
.app main .projects .prjdiv .prj .prj_img {
  height: 6rem;
  width: 6rem;
}
.app main .projects .prjdiv .prj .prj_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app main .projects .prjdiv .prj .prj_info h4 {
  margin: 0;
}
.app main .projects .prjdiv .prj .prj_info .prj_name {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.app main .projects .prjdiv .prj .prj_info .prj_description {
  font-size: clamp(16px, 1.1vw, 1.1vw);
}
.app main .projects .prjdiv .prj .prj_info .git_link {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: Black;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid black;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px;
  border-radius: 5px;
}
.app main .projects .prjdiv .prj .prj_info .git_link .git_img {
  height: 2rem;
  width: 2rem;
}
.app main .projects .prjdiv .prj .prj_info .git_link:hover {
  transform: scale(1.04);
}
.app main .projects .prjdiv .prj .prj_info .download_btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.app main .projects .prjdiv .prj .prj_info .download_btn .git_img {
  height: 2rem;
  width: 2rem;
}
.app main .projects .prjdiv .prj .prj_info .download_btn:hover {
  transform: scale(1.04);
}
.app main .social_div {
  margin-top: 10em;
}
.app main .social_div .social_title {
  font-weight: lighter;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.app main .social_div .socials {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.app main .social_div .socials .social {
  cursor: pointer;
}
.app main .social_div .socials .social .social_img {
  height: 2.2rem;
  width: 2.2rem;
}
.app main .social_div .social_message {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.app main .social_div .social_message p {
  margin: 0;
}
.app main .social_div .social_message .social_mail {
  color: skyblue;
}
.app main .social_div .social_message .social_gatsby a {
  color: skyblue;
}

@media only screen and (max-width: 1000px) {
  .cpy {
    font-size: clamp(14px, 1vw, 1vw);
  }
  .app {
    margin: 0 5vw 0 5vw;
  }
  .routes_min {
    right: 1em;
  }
}/*# sourceMappingURL=style.css.map */